<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Remove any machine-wide sources to avoid conflicts -->
    <clear />
    <!-- Add the official NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Add the public feed for React Native specific packages -->
    <add key="react-native" value="https://pkgs.dev.azure.com/ms/react-native/_packaging/react-native-public/nuget/v3/index.json" />
  </packageSources>
</configuration>