backend/.venv/*
.venv/*
.env
*.venv
*.env
windows_app/*
*/node_modules/*
frontend.Package/*
/windows/*
frontend/windows/*
*.log
gen_src/*
*.db
backend/__pycache__/*
algo-bot/backend/grid_search_results.csv
