requests
aiohttp 
pandas 
numpy 
sqlalchemy 
scikit-learn 
spacy 
nltk 
websocket-client 
beautifulsoup4 
scrapy 
imaplib2 
ta-lib 
transformers 
torch 
psycopg2 
psycopg2-binary
yagmail 
twilio
schedule==1.2.2
python-dotenv